<div class="row highlight">
  <button type="button" id="previous" data-id="<%=@assessment.id%>" name="button">Previous Assessment</button>
  <button type="button" id="next" data-id="<%=@assessment.id%>" name="button">Next Assessment</button>
</div>

<div class="row small-12">
  <div class="column">
    <h1 id="assessment_name"><%= @assessment.name %></h1>
    <h4 id="assessment_by">A project by <%= link_to @assessment.created_by, "/users/#{@assessment.user.id}" %></h4>
    <p>
      Visit the repo at <a id="assessment_link" href="<%= @assessment.link %>">Github</a><% if can? :modify, @assessment.user  %> | <%= link_to "Edit", "/users/#{@assessment.user.id}/assessment/#{@assessment.slug}/edit" %>
      <%end%>
    </p>
  </div>
</div>

<div class="row small-12">
  <div class="column">
    <h4>Skills Displayed:</h4>
    <ul>
      <% @assessment.skills.each do |as| %>
        <li><%= as.name %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row small-12">
  <div class="column">
    <h4>Screenshots:</h4>
    <img class="thumbnail" src="http://placehold.it/550x550">
  </div>
</div>
