<div class="row highlight">
  <button class="load-assessment" data-prev='-1' data-id="<%=@assessment.id%>" >Previous Assessment</button>
  <button class="load-assessment" data-next='+1' data-id="<%=@assessment.id%>" name="button">Next Assessment</button>
</div>

<div class="row small-12">

  <div class="column">
    <h1 id="assessment_name"><%= @assessment.name %></h1>
    <h4>A project by <%= link_to @assessment.created_by, "/users/#{@assessment.user.id}", id: 'assessment_by', 'data-link': "assessment_link"%></h4>
    <p>
      Visit the repo at <a id="repo_link" href="<%= @assessment.link %>">Github</a><% if can? :modify, @assessment.user  %> | <%= link_to "Edit", "/users/#{@assessment.user.id}/assessment/#{@assessment.slug}/edit" %>
      <%end%>
    </p>
  </div>


</div>

<div class="row small-12">
  <div class="column small-6">
    <h4>Skills Displayed:</h4>
    <ul id="assessment_skills_array">
      <span id="skills_array_span">
        <% @assessment.skills.each do |skills| %>
      </span>
        <li><%= skills.name %></li>
    <% end %>
  </ul>
  </div>

  <div class="column small-6">
    <h4 class='collaborators'>Collaborators:</h4>
    <% if can? :modify, @assessment.user  %> <a href="#" class="add-collaborators" id="on">Add Colaborator</a>
    <form>
    <input type='button' value='Save Collaborators' class='save-collaborators hide' />
    <% end %>
    <span><ul class="collaborators">
      <% if @assessment.assessment_contributers.empty? %>
        <li>none</li>
      <% else %>
        <%@assessment.assessment_contributers.each do |contributor| %>
          <li data-id="<%= contributor.user.id%>"><%= contributor.user.name %></li>
        <% end%>
      </form>
      <% end%>
    </ul></span>
  </div>
</div>

<div class="row small-12">
  <div class="column">
    <h4>Screenshots:</h4>
    <img class="thumbnail" src="http://placehold.it/550x550">
  </div>
</div>
<div class="row small-12">  <!-- Start Comments Div-->
    <h4 class="comments_header">Comments:</h4>
    <% if @assessment.comments.length > 0 %>
    <%@assessment.comments.each do |comment| %> <!-- Start  Comments loop -->
      <div class="container">
        <div class="comment_txt">
          <span id="comment_txt"><%= comment.text %></span>
          <br>
        <span class="comment_by">
          By: <%= comment.by %>
        </span>
        </div>
        <br>
      </div>
      <br>
      <br>
    <% end%> <!-- END  Comments loop -->
    <% else %>
    <p class="empty_comments">
      Be the first to comment!
    </p>
<% end %>
</div> <!-- End Comments Div-->
<div class="add_new_comments row small-12">
  <textarea id="new_comment_input" name="name" value="" placeholder="Tell this person how cool their project is!"></textarea>
  <input type="button" name="new_comment" value="Add New Comment">
</div>
