<%= session[:flash]%>
<%= session[:error]%> 
<div class="row image-header" id="cabbage" >
  <%= image_tag "startup.jpg", alt: "Learn. Love. Code.", id: "header-image" %>
</div>

<div class="row small-centered"><!-- Top Row -->
  <div class="small-12 column small-centered">

  <h2 class="text-center">Come check out what our students are up to!</h2>
  <p>
    Here at Flatiron Schools Learn Verified Program our students work through our curriculum to learn the full Ruby on Rails Stack including, Ruby, JavaScript, HTML, CSS and modern web frameworks.  During each unit they complete an assesment as a capstone to learn more about working with their skills. Take a look around and see what our students have done for their assessments and the skills they've learned so far.
  </p>
</div>

<%= link_to "Checking", user_omniauth_callback_path(:github) %>

<div class="row "><!-- Bottom Row -->

  <div class="columns small-6 float-left "> <!-- First Column -->
    <%= link_to students_path do %>
    <div class="box">
      <%= image_tag "the-creator.jpg"%><br><br>
      <p>
        See our students!
      </p>
    </div>
    <% end %>
  </div>


  <div class="columns small-6 float-right "> <!-- Second Column -->
    <%= link_to assessments_path do %>
    <div class="box">
      <%= image_tag "coding.jpg"%><br><br>
      <p>
        Or check out their work!
      </p>
    </div>
    <% end %>
  </div>
</div><!-- Bottom Row END -->
